Flask==3.0.0
werkzeug==3.0.1
jinja2==3.1.2
gunicorn==21.2.0

pytest==7.4.3
pytest-cov==4.1.0
flake8==6.1.0
isort==5.13.2
black==23.12.1

psycopg==3.1.16
alembic==1.13.1
SQLAlchemy==2.0.24
Flask-SQLAlchemy==3.1.1
SQLAlchemy-Utils==0.41.1

redis==5.0.1
celery==5.3.6

Flask-WTF==1.2.1
WTForms-Components==0.10.5
WTForms-Alchemy==0.18.0
WTForms==3.1.1
validators==0.20.0

stripe==7.10.0
faker==21.0.0

flask-debugtoolbar==0.14.1
Flask-Mail==0.9.1
Flask-Login==0.6.3
Flask-Limiter==3.5.0
Flask-Babel==4.0.0
Flask-Static-Digest==0.4.0
Flask-Secrets==0.1.0
Flask-DB==0.4.0
