Flask==3.0.0
werkzeug==3.0.1
jinja2==3.1.2
gunicorn==21.2.0

pytest==7.4.3
pytest-cov==4.1.0
flake8==6.1.0
isort==5.13.2
black==23.12.1

# psycopg==3.1.16
psycopg2==2.9.9
alembic==1.13.1
SQLAlchemy==2.0.24
Flask-SQLAlchemy==3.1.1
SQLAlchemy-Utils==0.41.1

redis==5.0.1
celery==5.3.6

Flask-WTF==1.2.1
WTForms-Components==0.10.5
WTForms-Alchemy==0.18.0
WTForms-SQLAlchemy==0.4.1
WTForms==3.1.1
validators==0.20.0

stripe==7.10.0
faker==21.0.0

flask-debugtoolbar==0.14.1
Flask-Mail==0.9.1
Flask-Login==0.6.3
Flask-Limiter==3.5.0
Flask-Babel==4.0.0
Flask-Static-Digest==0.4.0
Flask-Secrets==0.1.0
Flask-DB==0.4.0

Babel==2.14.0
Flask-Bootstrap
keras==2.15.0
numpy==1.26.4
pandas==2.2.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.16.0
tensorflow-estimator==2.15.0
#tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0

openai==1.35.15
markdown==3.6
