{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Enter a new password{% endblock %}

{% block body %}
  <div class="container">
    <div class="row" style="height: 100px;"></div>
    <div class="row  pb-5 mt-5">
      <div class="col-md-12 card bg-dark">
        {% call f.form_tag('user.password_reset') %}
          <h2 class="mt-2 mb-4">Enter a new password</h2>
          <div class="Logo-container">
            <a class="Clickable-Logo" href="/">
              <img src="{{ static_url_for('static', filename='images/Logo.jpg') }}" height="120" class="d-inline-block align-top" alt=""/></a>
          </div>

          {% call f.form_group(form.password) %}{% endcall %}

          <div class="row mb-3">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary p-1">
                Continue
              </button>
            </div>
            <div class="col-md-6">
              <a href="{{ url_for('user.login') }}"
                 class="btn btn-outline-primary p-1">
                Back to login
              </a>
            </div>
          </div>
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}
