{% extends 'layouts/app.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}
  <div class="container">
    <div class="row" style="height: 100px;"></div>
    <div class="row pb-5 mt-5">
      <div class="col-md-8 offset-md-2">
        <h1 class="">Terms and Conditions</h1>
        <!-- wp:paragraph -->
        <p>This document contains the general terms and conditions on the basis of which the use of the website www.deep-value.cloud that provides accurate, error-free, and unbiased business valuations. is offered by</p>
        <h2 class="wp-block-heading"><strong>Definitions</strong></h2>
        <p>To allow a complete understanding and acceptance of these terms and conditions, the following terms, in the singular and in the plural, shall have the meaning indicated below:</p>
        <ul>
          <li><strong>Owner:Deep Value S.R.L.</strong>, VAT number/Tax code P.Iva 13455320963, REA MI2724199, fully paid-up share capital of 10.000,00 €, certified e-mail address (PEC) <a href="mailto:postmaster@pec.deep-value.cloud">postmaster@pec.deep-value.cloud</a></li>
          <li><strong>Application:</strong> the website <a href="https://www.deep-value.cloud/">www.deep-value.cloud</a> </li>
          <li><strong>User:</strong> any person who access and uses the Application</li>
          <li><strong>Conditions:</strong> this contract which governs the relationship between the Owner and the Users.</li>
        </ul>
        <h2 class="wp-block-heading"><strong>Detailed information on the Application’s offer</strong></h2>
        <p>The Application provides Users the world’s first artificial intelligence algorithm that can provide accurate, error-free, and unbiased business valuations. NeurOne, in addition to the data entered by the user, acquires data from a variety of sources, including market, macroeconomic, and industry data, and identifies the factors that influence the value of a company, thus generating the exact valuation at a given time. NeurOne is a revolutionary technology that has the potential to dominate the business valuation market and is the best choice for anyone who needs an accurate and reliable valuation of a company’s value.</p>
        <h2 class="wp-block-heading"><strong>Scope of the Conditions</strong></h2>
        <p>The use of the Application implies full acceptance of the Conditions by the User. Should the User not accept the Conditions and / or any other note, legal notice, information published or referred to therein, the User shall not use the Application or the services related.</p>
        <p>The Owner may amend the Conditions at any time. The changes shall be effective from the time they are published in the Application.</p>
        <p>Before using the Application, the User is required to read the Conditions carefully save or print them for future reference.</p>
        <p>The Owner reserves the right to change, at his own discretion and at any time, even after the User has registered, the graphic interface of the Application, the Contents and their organisation, as well as any other feature that characterises the functionality and management of the Application, communicating to the User the relative instructions, when necessary.</p>
        <h2 class="wp-block-heading"><strong>Registration</strong></h2>
        <p>To take advantage of the features of the Application, the User shall register and provide, truthfully and completely, all data requested in the registration form and accept the privacy policy ( <a href="https://www.deep-value.cloud/privacy-policy-2/">https://www.deep-value.cloud/privacy-policy-2/</a>) and the Conditions.</p>
        <p>The User has the responsibility to keep login credentials. The login credentials shall be used exclusively by the User and cannot be transferred to third parties. The User undertakes to keep them confidential and to ensure that no third party has access to them. Should the User suspect or become aware of any improper use or disclosure, he shall immediately inform the Owner.</p>
        <p>The User guarantees that the personal information provided during the registration procedure is complete and truthful and undertakes to hold the Owner harmless from any damage, indemnity and / or penalty resulting from and / or in any way connected to the infringement by the User of the Application registration rules or the storage of the login credentials.</p>
        <h2 class="wp-block-heading"><strong>Account cancellation and closure</strong></h2>
        <p>The registered User can interrupt the use of the Application at any time and deactivate his account or request the cancellation through the Application interface, if possible, or by sending a written communication to the e-mail address <a href="mailto:info@deep-value.cloud">info@deep-value.cloud</a>.</p>
        <p>In case of violation by the User of the Conditions or of the applicable legal provisions, the Owner reserves the right to suspend or close the User's account at any time and without notice.</p>
        <h2 class="wp-block-heading"><strong>Industrial and intellectual property rights</strong></h2>
        <p>All the contents of the Application, including texts, documents, trademarks, logos, images, graphics, their arrangement and their adaptations are protected by copyright and trademark legislation. The Application may also contain images, documents, logos and trademarks of third parties which have expressly authorized the Owner to be published in the Application. Except for strictly personal uses, it is not allowed to copy, alter, distribute, publish or use the Contents without the specific authorization of the Owner.</p>
        <h2 class="wp-block-heading"><strong>Exclusion of warranty</strong></h2>
        <p>The Application is provided "as is" and "as available" and the Owner does not provide any explicit or implicit guarantee in relation to the Application, nor does it provide any guarantee that the Application will satisfy the needs of the Users or that it will not have never interrupted or be error-free or free of viruses or bugs.</p>
        <p>The Owner will endeavour to ensure that the Application is available continuously 24 hours a day, but cannot in any way be held responsible if, for any reason, the Application is not accessible and / or operational at any time or for any period . Access to the Application may be suspended temporarily and without notice in the event of system failure, maintenance, repairs or for reasons wholly unrelated to the owner's will or due to force majeure events.</p>
        <h2 class="wp-block-heading"><strong>Limitation of liability</strong></h2>
        <p>The Owner shall not be held liable towards the User, except in the case of wilful misconduct or gross negligence, for disservices or malfunctions connected to the use of the internet outside its own control or that of its suppliers.</p>
        <p>Furthermore, the Owner will not be liable for damages, losses and costs incurred by the User as a result of failure to execute the contract for reasons not attributable to him.</p>
        <p>The Owner assumes no responsibility for any fraudulent or illegal use that may be made by third parties of credit cards and other means of payment,</p>
        <p>The Owner shall not be held liable for:</p>
        <ul>
          <li>any loss of business opportunities and any other loss, even indirect, possibly suffered by the User that is not a direct result of the breach of contract by the Owner</li>
          <li>incorrect or unsuitable use of the Application by Users or third parties</li>
        </ul>
        <p>In no case the Owner shall be held liable for a sum greater than twice the cost paid by the User.</p>
        <h2 class="wp-block-heading"><strong>Force majeure</strong></h2>
        <p>The Owner shall not be held responsible for the failure or late fulfilment of its obligations, due to circumstances beyond its reasonable control due to events of force majeure or, in any case, to unforeseen and unforeseeable events and, in any case, independent of its will.</p>
        <p>The fulfilment of the obligations by the Owner shall be considered suspended for the period in which events of force majeure occur.</p>
        <p>The Owner will perform any act in his power in order to identify solutions that allow the correct fulfilment of his obligations despite the persistence of events due to force majeure.</p>
        <h2 class="wp-block-heading"><strong>Links to third-party websites</strong></h2>
        <p>The Application may contain links to third-party websites / applications. The Owner has no control over them and, therefore, is in no way responsible for the contents of these sites / applications.</p>
        <p>Some of these links may link to third-party sites / applications that provide services through the Application. In these cases, the general conditions for the use of the site / application and for the use of the service prepared by the third parties will be applied to the individual services, with respect to which the Owner assumes no responsibility.</p>
        <h2 class="wp-block-heading"><strong>Privacy</strong></h2>
        <p>The protection and processing of personal data will be in accordance with the Privacy Policy which can be consulted on the page <a href="https://www.deep-value.cloud/privacy-policy-2/">https://www.deep-value.cloud/privacy-policy-2/</a></p>
        <h2 class="wp-block-heading"><strong>Applicable law and jurisdiction</strong></h2>
        <p>The Conditions are subject to Italian law.</p>
        <p>For Consumer Users, any dispute concerning the application, execution and interpretation of these Conditions shall be referred to courts where the Consumer User resides or has elected domicile, if located in the territory of the Italian Republic, without prejudice to the right of the User Consumer of going to court other than the "consumer court" pursuant to Section 66 bis of the Italian Consumer Code, competent for the territory according to one of the criteria of the Sections 18, 19 and 20 of the civil procedural code.</p>
        <p>The application to Consumer Users who do not have their residence or domicile in Italy of any more favourable and mandatory provisions established by the law of the country in which they have their residence or domicile is reserved, in particular in relation to the term for the exercise of the right of withdrawal, after the return of the Products, in case of exercise of this right, the formalities of the communication and the legal guarantee of conformity.</p>
        <p>For Users who are not Consumers, any dispute concerning the application, execution and interpretation of these Conditions will be referred to the forum of the place where the Owner is based.</p>
        <h2 class="wp-block-heading"><strong>Online dispute resolution for Consumer Users</strong></h2>
        <p>The consumer user residing in Europe shall be aware of the fact that the European Commission has established an online platform that provides an alternative dispute resolution tool. This tool can be used by the Consumer User to resolve any dispute relating to and / or deriving from contracts for the sale of goods and the provision of services concluded online. Consequently, the Consumer User can use this platform for the resolution of any dispute arising from the contract entered into online. The platform is available at the following address: ec.europa.eu/consumers/odr/</p>
        <p>
          Questions about the terms of service should be sent to
          <a href="mailto:info@deep-value.cloud">info@deep-value.cloud</a>.
        </p>
        <p>
          Any new features that augment or enhance the current service, including
          the release of new tools and resources, shall be subject to the terms
          of service. Continued use of the service after any such changes shall
          constitute your consent to such changes.
        </p>
        <small class="text-muted">Last updated April 17th 2024</small>
      </div>
    </div>
  </div>
{% endblock %}
